.wrapper{
    display: flex;
    flex-direction: column;
    width: 155px;
    height: 500px;
    border: 1px solid #ccc;
    border-bottom: none;
}

.content{
    text-decoration: none;
    color: #858585;
    padding: 15px;  
    transition: color 0.2s ease, transform 0.2s ease;

    &:hover{
        cursor: pointer;
        color: #000;
        transform: translateX(4px);
    }
}   